params {
    fasta_seqs = false
    skip_qc = false
}

process {
    publish_dir = "${params.publish_dir}"
        withLabel: star {
            cpus = 2
            maxForks = 1
        }
}

singularity {
    enabled = true
    cacheDir = "${HOME}/singularity/"
    autoMounts = true
}

report {
    enabled = true
    file    = "${process.publish_dir}/summary/report.html"
}

timeline{
    enabled = true
    file    = "${process.publish_dir}/summary/timeline.html"
}
